<div
  class="container mat-elevation-z3"
  [style.background-color]="data().backgroundColor ?? 'white'"
  [style.color]="data().color ?? 'inherit'"
>
  <h4 class="m-0">{{ data().label }}</h4>
  <button
    mat-icon-button
    class="settings-button"
    (click)="showOptions.set(true)"
    [style.--mat-icon-button-icon-color]="data().color ?? 'inherit'"
  >
    <mat-icon>settings</mat-icon>
  </button>
  <ng-container
    [ngComponentOutlet]="data().content"
    [ngComponentOutletInputs]="{
      config: data().summaryConfig !== undefined ? data().summaryConfig : data().analyticsConfig
    }"
  />

  @if (showOptions()) {
  <app-widget-options [(showOptions)]="showOptions" [data]="data()"></app-widget-options>
  }
</div>
